/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.center-text{
  text-align: center;
}

.left-text{
  text-align: left !important;
}

.right-text{
  text-align: right;
}
.done{
   text-decoration: line-through;
}

.check-margin{
  padding: 0px !important;
  margin-bottom: 20px;
}

.correct-cursor{
  cursor: pointer;
}